@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>We are a UK based cosmetics company who have dedicated ourselves to providing a solution to not only prevent but reverse any signs of fine lines, wrinkles, loss of firmness and to restoring your natural, beautiful complexion.</p>

<p>We believe that the foundation for achieving this goal is a 3-stage skin care routine and of course, Retinol and Collagen.</p>

<p>Retinol is still the only ingredient that has been scientifically proven to reverse signs of ageing, by encouraging skin cell renewal and essentially by boosting Collagen production. Collagen is a protein in our body responsible for your skins elasticity, structure and firmness. By the time we reach our 20’s our bodies will stop producing Collagen which is why by teaming up with Retinol you can help to restore your natural Collagen levels while supplementing any loss, restoring your skin to its youthful best.</p>

<p>TwinSkin London is made from all natural and organic ingredients, is not tested on animals and is suitable for all skin types.</p>


