@model IEnumerable<TwinSkinLondon.Models.Review>

@{
    ViewData["Title"] = "Collection";
}

    <div class="container">
        <h4>Reviews</h4>
        <div class="review">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-sm-8">
                    <div class="review__body">
                        <span class="author-name">Thomas Bishop</span>
                        <ul class="rating list-unstyled list-inline">
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                        </ul>
                        <p>
                            Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus.
                            Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor
                            at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet
                            et, porttitor at sem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-sm-8">
                    <div class="review__body">
                        <span class="author-name">Thomas Bishop</span>
                        <ul class="rating list-unstyled list-inline">
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                        </ul>
                        <p>
                            Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus.
                            Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor
                            at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet
                            et, porttitor at sem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-sm-8">
                    <div class="review__body">
                        <span class="author-name">Thomas Bishop</span>
                        <ul class="rating list-unstyled list-inline">
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                        </ul>
                        <p>
                            Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus.
                            Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor
                            at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet
                            et, porttitor at sem.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="row">
                <div class="col-lg-12 col-md-9 col-sm-8">
                    <div class="review__body">
                        <span class="author-name">Thomas Bishop</span>
                        <ul class="rating list-unstyled list-inline">
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                            <span class="glyphicon glyphicon-star" style="color: #D2BE86"></span>
                        </ul>
                        <p>
                            Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus.
                            Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor
                            at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet
                            et, porttitor at sem.
                        </p>
                    </div>
                </div>
            </div>
        </div>


