@model IEnumerable<TwinSkinLondon.Models.Review>

@{
    ViewData["Title"] = "Collection";
}

    <div class="container">
        <h4>Reviews</h4>
        <div class="review">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4">

                </div>
                @foreach (var item in Model)
                {
                    <div class="col-lg-9 col-md-9 col-sm-8">
                        <div class="review__body">
                            <span class="author-name">Thomas Bishop</span>
                            <ul class="rating list-unstyled list-inline">
                                <li><i class="material-icons">&#xE838;</i></li>
                                <li><i class="material-icons">&#xE838;</i></li>
                                <li><i class="material-icons">&#xE838;</i></li>
                                <li><i class="material-icons">&#xE838;</i></li>
                                <li><i class="material-icons">&#xE839;</i></li>
                            </ul>
                            <p>
                                Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Proin eget tortor risus.
                                Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor
                                at sem. Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet
                                et, porttitor at sem.
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>

